.width-100 {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}
.user-update {
  text-align: left;
  margin-top: 150px;
}
.update-btn {
  height: 40px;
  margin-top: 20px;
}
.invalid-email {
  color: red;
  margin-bottom: 25px;
  margin-left: 5px;
}
